
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Fulfilled Requests";
}

<div id="fulfilledrequestsGrid" style="margin-right: 30px; margin-top: 75px; "></div>

@section scripts {
    <script src="~/Scripts/app/fulfilledrequests.js"></script>
}



