
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Requests Submitted By " + @ViewBag.UserName;
}

<div id="requestsbyuserGrid"></div>

<script>
    var userid = '@ViewBag.UserId';
</script>


@section scripts {
    <script src="~/Scripts/app/requestsbyuser.js"></script>
}